.cart-button {
  position: fixed;
  width: 60px !important;
  height: 60px !important;
  left: 20px;
  bottom: 20px;
  border-radius: 6px;
  background-color: white;
  color: #DE231E;
  border: 1px solid #DE231E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  z-index: 1000;
}

.cart-button:hover {
  background-color: #f0f0f8;
}

.cart-button:active {
  background-color: #ccc0c0;
}

.cart-button img {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #DE231E;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}