services:
   app:
      container_name: my-react-app
      build:
         context: .
         target: development
      volumes:
         - .:/app
         - /app/node_modules
      ports:
         - 3000:3000
      command: npm run dev