.order-card {
    width: 1273px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.order-card .image {
    width: 400px;
    height: 400px;
    border-radius: 6px;
    object-fit: cover;
}

.order-card h1 {
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin: 0px !important;
}

.order-card p {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin: 0px !important;
}