form input {
    border-radius: 12px;
    border-color: #E8E8EC;
    border-width: 2px;
    font-size: 16px;
    padding-left: 10px;
    width: 100%;
    height: 50px;
}

.search-button {
    background-color: #DE231E;
    border-radius: 6px;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: -50px;
}

.search-button:hover {
    background-color: #B91D19;
}

.search-button:active {
    background-color: #751714;
}

@media (max-width: 480px) {
    form input {
        height: 42px;
        font-size: 14px;
    }

    .search-button {
        width: 36px;
        height: 36px;
        margin-left: -45px;
    }
}