@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #f3f3f7;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
}

.devices-page{
    background-color: #f3f3f7;
}

.devices-page main {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 20px;
}

.services-search {
    margin-bottom: 20px;
}

.services-wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-button.inactive{
    background-color: #c3c3c3;
    cursor: not-allowed;
    pointer-events: none;
    border-color: #000000;
}

@media (max-width: 1200px) {
    .devices-page main {
        width: 70%;
        padding-inline: 24px;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
    }
}

@media (max-width: 1024px) {
    .devices-page main {
        width: 85%;
        padding-inline: 28px;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .devices-page main {
        width: 90%;
        padding-inline: 16px;
    }

    .services-wrapper {
        width: 100%;
        padding: 0 12px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }

    .cart-button {
        left: 15px;
        bottom: 15px;
    }
}

@media (max-width: 480px) {
    .devices-page main {
        width: 100%;
        padding-inline: 12px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .search-button {
        width: 36px;
        height: 36px;
        margin-left: -45px;
    }

    form input {
        height: 45px;
        font-size: 14px;
    }

    .cart-button {
        left: 10px;
        bottom: 10px;
    }
}