@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #f6f6f6;
}

.devices-page main {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.services-search {
    margin-bottom: 20px;
}

.services-wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;    
}

.search-form {
    display: flex;
    align-items: center;
    position: relative;
}
