.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    padding: 0px !important;

    justify-content: center;   
    justify-items: center;      
    grid-auto-flow: row;        
    margin: 0 auto;             
    max-width: 1200px;          
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 900px;   
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 412px !important;  
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        max-width: 320px; 
    }
}
